<footer id="body_footer">
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Advertisers</a></li>
    </ul>
  </nav>
  <div id="copyright">
    &copy; 2013 BuzzyGals
  </div>
</footer>