@import "utilities/appvariables";

#single_column {
  width: 100%;
  background: $buzzyred;

  #body_header {
    width: 100%;
    height: 71px;
    background: $buzzyred image-url("single-top-gradient.png") repeat-x 0 0;

    #welcome {
      text-align: center;
      padding: 25px 0 0;
    }
  }

  #body_footer {
    width: 100%;
    background: $buzzyred image-url("single-bottom-gradient.png") repeat-x 0 0;
    font-family: "LucidaSansRegular", sans-serif;
    text-align: center;
    min-height: 190px;

    nav {
      margin: 0 auto;
      padding: 5px 0;
    }

    #copyright {
      font-weight: bold;
      color: #000000;
    }

  }

}